name: Reproduce false positive SIGSEGVs with Arm Fortran compiler (armflang)

on:
  workflow_dispatch:


jobs:

  test:
    name: Run armflang tests
    runs-on: ubuntu-24.04-arm
    strategy:
      fail-fast: false
      matrix:
        modify: [false, true]  # Whether to modify lincob.f90 to remove the is_finite check
        compiler: [armflang, flang, gfortran]  # Compilers to test
        flag: [-O0, -O1]  # Optimization flags to test

    steps:

      - name: Clone Repository
        uses: actions/checkout@v6

      - name: Cache atfl
        id: cache-atfl
        uses: actions/cache@v5
        with:
          path: /opt/arm/arm-toolchain-for-linux
          key: ${{ runner.os }}-atfl

      - name: Install Arm Toolchain for Linux
        if: steps.cache-atfl.outputs.cache-hit != 'true'
        run: bash ./install_atfl

      - name: Cache LLVM Flang
        id: cache-llvm
        uses: actions/cache@v5
        with:
          path: /opt/flang
          key: ${{ runner.os }}-llvm

      - name: Install LLVM Flang
        if: steps.cache-llvm.outputs.cache-hit != 'true'
        run: cd /opt && bash ./install_flang

      - name: Install gfortran
        uses: fortran-lang/setup-fortran@main
        with:
          compiler: gcc

      - name: Install gdb and git
        run: sudo apt update && sudo apt install -y gdb git

      - name: Conduct the test
        run: |
          exit 0
          #bash ./sa ${{ matrix.modify }} ${{ matrix.compiler }} ${{ matrix.flag }}
