name: Reproduce false positive SIGSEGVs with Arm Fortran compiler (armflang)

on:
  workflow_dispatch:


jobs:

  test:
    name: Run armflang tests
    runs-on: ubuntu-24.04-arm
    continue-on-error: true
    strategy:
      fail-fast: false
      matrix:
        modify: [false, true]  # Whether to modify lincob.f90 to remove the is_finite check
        flag: [-O0, -O1]  # Optimization flags to test

    steps:

      - name: Clone Repository
        uses: actions/checkout@v6

      - name: Cache atfl
        id: cache-atfl
        uses: actions/cache@v5
        with:
          path: /opt/arm/arm-toolchain-for-linux
          key: ${{ runner.os }}-atfl

      - name: Install Arm Toolchain for Linux
        if: steps.cache-atfl.outputs.cache-hit != 'true'
        run: bash ./install_atfl

      - name: Install gdb and git
        run: sudo apt install -y gdb git

      - name: Conduct the test
        run: |
          bash ./sa ${{ matrix.modify }} ${{ matrix.flag }}
