name: Reproduce false positive SIGSEGVs with Arm Fortran compiler (armflang)

on:
  workflow_dispatch:


jobs:

  test:
    name: Run armflang tests
    runs-on: ubuntu-24.04-arm
    strategy:
      fail-fast: false
      matrix:
        modify: [false, true]  # Whether to modify lincob.f90 to remove the is_finite check
        compiler: [armflang, flang]  # Compilers to test
        flag: [mmlir, fno-stack-arrays]  # Optimization flags to test


    steps:

      - name: Clone Repository
        uses: actions/checkout@v6

      - name: Install Arm Toolchain for Linux
        if: matrix.compiler == 'armflang'
        run: bash ./install_atfl

      - name: Install LLVM Flang
        if: matrix.compiler == 'flang'
        run: bash ./install_flang

      - name: Install gfortran
        if: matrix.compiler == 'gfortran'
        uses: fortran-lang/setup-fortran@main
        with:
          compiler: gcc

      - name: Install gdb and git
        run: sudo apt update && sudo apt install -y gdb git

      - name: Conduct the test
        run: |
          bash ./sa ${{ matrix.compiler }} ${{ matrix.flag }}
